{% extends 'public/layout.html.twig' %}

{% block title %}Homepage index{% endblock %}

{% block body %}
    <h1>Homepage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>TitleAbout</th>
                <th>TextAbout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for homepage in homepages %}
            <tr>
                <td>{{ homepage.id }}</td>
                <td>{{ homepage.title }}</td>
                <td>{{ homepage.body }}</td>
                <td>{{ homepage.titleAbout }}</td>
                <td>{{ homepage.textAbout }}</td>
                <td>
                    <a href="{{ path('homepage_show', {'id': homepage.id}) }}">show</a>
                    <a href="{{ path('homepage_edit', {'id': homepage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage_new') }}">Create new</a>
{% endblock %}
